body {
  max-width: 1600px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #FF6060;
}

main {
  min-height: 400px;
  background-color: #FF6060;
  color: #760031;
  margin: 0;
  padding: 1%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

main button, main input[type='submit'] {
  background-color: #760031;
  color: #F7F8F0;
  margin: 3% 2%;
  padding: 1%;
  border-radius: 10px 0;
  cursor: pointer;
}

main button:hover, main input[type='submit']:hover {
    background-color: #FEEC41;
    color: #760031;
}

textarea {
  width: 90%;
  min-height: 100px;
}

main article {
  border: 1px solid #FEEC41;
  width: 300px;
  height: fit-content;
  padding: 1%;
  margin: 1% 0;
}

h2 {
  margin: 0;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie {
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.reg-link {
  text-decoration: underline;
  color: #760031;
}

.reg-link:hover {
  background: none;
  color: #FEEC41;
}

.breadcrumbs-links {
  text-decoration: none;
  color: #355872;
  margin: 0 3px;
}

.breadcrumbs-links:hover {
  text-decoration: underline;
  color: #7AAACE;
}